body {
    height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(244, 244, 244); /* Optional: background color */
}
.support-grid {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr); /* Three equal-width columns */
  grid-auto-rows: minmax(100px, auto); /* Auto-sized rows with a minimum height of 100px */
  gap: 35px;
  width: 100%;
  max-width: 1600px; /* Optional: max width for the grid */
  padding: 10px; /* Optional: padding around the grid */
  box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
}

  .support-grid .card {
    background-color: rgb(244, 244, 244);
    border: 1px;
    padding: 0px 0px 6px;
    text-align: left;
    
  }

  h1 {
    margin: 0; /* Remove default margin */
    font-size: 1.5em; /* font size */
  } 
 